body {
  font-family: "Nunito", sans-serif;
  font-size: larger;
  background-color: #e3c7a2;
  color: #333;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
  background-color: #AF8260; /* 4e342e */
  color: #000;
  grid-area: header;
/*  display: grid; */
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "title"
    "icon"
    "nav";
  justify-items: center;
  align-items: center;
}

header h1 {
  grid-area: title;
  margin: 0;
}

header img {
  grid-area: icon;
  width: 50px;
  height: 50px;
}

.navbar-nav {
  flex-direction: row;
}
.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}
.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-item a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-icono {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.nav-item a:hover {
  color: #EAD8C0;
}

.container {
  padding: 20px;
  grid-area: main;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.container-home {
  padding: 80px 20px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .container-home .container-header{
    padding: 40px 20px;
  }

  .imagen-home {
    margin-bottom: 20px;
  }

  .titulo-home {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .intro-home {
    font-size: 16px;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container-home .container-header{
    padding: 60px 20px;
  }

  .imagen-home {
    margin-bottom: 30px;
  }

  .titulo-home {
    font-size: 33px;
    margin-bottom: 30px;
  }

  .intro-home {
    font-size: 17px;
  }
}

/* Estilos para computadoras de escritorio */
@media only screen and (min-width: 1025px) {
  .container-home .container-header{
    padding: 80px 20px;
  }

  .imagen-home {
    margin-bottom: 40px;
  }

  .titulo-home {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .intro-home {
    font-size: 18px;
  }
}

.imagen-principal {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 10px;
}

h2 {
  color: #4e342e;
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

.intro-texto p {
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background-color: #4e342e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #5d4037;
}

footer {
  background-color: #AF8260;
  color: black;
  text-align: center;
  padding: 10px 0;
  grid-area: footer;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-icono {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.imagenes {
  position: relative;
  height: 400px; /* Altura deseada para las imágenes */
}

.imagenes img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Para que la imagen se ajuste al contenedor sin deformarse */
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Efecto de transición suave */
}

.imagenes img:first-child {
  opacity: 1; /* La primera imagen será visible al cargar la página */
}

/* Efecto de transición al pasar el mouse sobre las imágenes */
.imagenes img:hover {
  opacity: 0.5;
}

/* Efecto de transición automático cada 5 segundos */
@keyframes cambio-imagen {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.imagenes img:nth-child(1) {
  animation: cambio-imagen 20s infinite 0s; /* La primera imagen cambiará cada 20 segundos */
}

.imagenes img:nth-child(2) {
  animation: cambio-imagen 20s infinite 5s; /* La segunda imagen cambiará 5 segundos después de la primera */
}

.imagenes img:nth-child(3) {
  animation: cambio-imagen 20s infinite 10s; /* La tercera imagen cambiará 10 segundos después de la primera */
}